name: Lint & Format

permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:

concurrency:
  group: lint
  cancel-in-progress: false

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Git
        run: |
          echo '${{ github.token }}' | gh auth login --with-token
          gh auth status
          gh auth setup-git
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          check-latest: true
          cache: pnpm

      - name: Install dependencies (pnpm)
        run: pnpm install

      - name: Cpp Lint (clang-format & clang-tidy)
        uses: cpp-linter/cpp-linter-action@v2
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          style: file
          thread-comments: update
          # version: 19
          files-changed-only: false
        continue-on-error: true

      - name: ESLint (+vue +prettier +ts)
        run: pnpm exec eslint --fix --ignore-pattern .gitignore
        continue-on-error: true

      - name: Prettier
        run: pnpm exec prettier --write .
        continue-on-error: true

      - name: Markdown Lint
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: "**/*.{md,markdown};!node_modules"
          fix: true
          separator: ";"
        continue-on-error: true

      - name: Autocorrect Fix
        uses: huacnlee/autocorrect-action@v2
        with:
          args: --fix
        continue-on-error: true

      - name: Create PullRequest
        env:
          lint_branch: lint/${{ github.sha }}
        run: |
          git switch -C $lint_branch
          git commit -a --fixup=${{ github.sha }}
          git push -f origin $lint_branch
          gh pr create --fill-verbose -t lint:${{ github.ref }} -B main -H $lint_branch
        continue-on-error: true
