name: main to gh-pages
on:
  workflow_call:
  workflow_dispatch:
jobs:
  m2p:
    permissions:
      contents: write
      actions: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Merge and Push
        run: |
          git config user.name "Mdr-C-Tutorial"
          git config user.email "2972853299@qq.com"
          git checkout gh-pages
          git merge main -m "Merge branch 'main' into gh-pages"
          git push

