name: main to gh-pages
on:
  push:
    branches:
      - main
jobs:
  m2p:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Clone,Merge and Push
        run: |
          git clone https://github.com/Mdr-C-Tutorial/C.git
cd C
          git checkout gh-pages
          git merge main -m "sync from branch main"
          git push

